body.halloween-body {
  background: url('https://www.transparenttextures.com/patterns/dark-mosaic.png'), #1a0d1d;
  color: #f4e9dc;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #120b14;
  border-bottom: 4px solid #4a2e31;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-logo-left {
  margin-right: 20px;
  margin-left: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  font-family: 'Creepster', cursive;
  color: #f4e9dc;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  /* text spacing */
  letter-spacing: 1px;

}

.nav-links li a:hover {
  background-color: #382226;
  border-radius: 4px;
  color: #e36b2f;
}

.primary-button {
  background: transparent;
  color: #f4e9dc;
  border: 2px solid #6f4e53;
  padding: 8px 16px;
  font-family: 'Creepster', cursive;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 2px;
  font-size: 16px;
}

.primary-button:hover {
  background-color: #382226;
  color: #e36b2f;
  
}

.main-content {
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(30, 20, 28, 0.8);
  border: 3px dashed #6f4e53;
  padding: 30px;
  text-align: center;
  box-shadow: 6px 6px 0px #3a2429;
}

.main-title {
  font-family: 'Creepster', cursive;
  font-size: 42px;
  color: #e36b2f;
}

.description-text {
  font-size: 18px;
  color: #e2d3c3;
  margin: 20px 0;
  font-family: 'Nosifer', sans-serif;
}

.main-action-button {
  background: #3a2429;
  color: #f4e9dc;
  border: 2px solid #6f4e53;
  padding: 10px 20px;
letter-spacing: 1px;
  font-family: 'Butcherman', cursive;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000;
  transition: background-color 0.3s ease;
  font-family: Creepster;
}

.main-action-button:hover {
  background: #4a2e31;
  color: #e36b2f;
}
