.vintage-body {
  margin: 0;
  background-image: #f7f2d2 url('images/retrobg.jpg');
  /* bg no repeat */
  font-family: 'Press Start 2P', cursive;
  color: #000;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  border: 4px dashed #ff00ff;
  background: #ffffff;
  box-shadow: 10px 10px 0px #ff00ff;
}

h1 {
  font-size: 24px;
  text-shadow: 2px 2px #ff0000;
}

.retro-button {
  background-color: #00ffff;
  color: #000;
  padding: 12px 24px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #000;
  box-shadow: 4px 4px #ff00ff;
  cursor: pointer;
  margin-top: 20px;
}
.retro-button:hover {
  background-color: #ff00ff;
  color: #fff;
}

.vintage-header {
  background-color: #ffcc00;
  padding: 15px 0;
  border-bottom: 4px dashed #ff00ff;
  box-shadow: 0 8px 0 #00ffff;
}

.navbar-90s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  margin-left: -10px;
}

.nav-links-90s {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.nav-links-90s li a {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  color: #000000;
  background-color: #00ffff;
  padding: 8px 12px;
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 8px;
  box-shadow: 3px 3px 0 #ff00ff;
  transition: 0.2s;
}

.nav-links-90s li a:hover {
  background-color: #ff00ff;
  color: #fff;
  box-shadow: 3px 3px 0 #00ffff;
}

.site-logo-center {
  display: block;
  width: 60px;
  height: auto;
  filter: grayscale(100%) contrast(150%);
  margin: 0 -130px;
}

.retro-button-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background-color: #00ffff;
  color: #000;
  border: 2px solid #000;
  padding: 10px 18px;
  cursor: pointer;
  box-shadow: 3px 3px 0 #ff00ff;
  transition: 0.2s;
}

.retro-button-header:hover {
  background-color: #ff00ff;
  color: #fff;
  box-shadow: 3px 3px 0 #00ffff;
}

